{% extends 'base.html' %}
{% block title %}博客首页{% endblock %}
 {%block nav%}
 {%for nav in fenleis%}
 <li >
<a href="{{url_for ('fenlei',fenlei_name=nav.name)}}" style="color: #0f0f0f">{{nav.name}}</a>
        </li>
        {%endfor%}
        {%endblock%}
{% block body%}
{% import "mac.html" as macros %}
{% for post in posts %}
      <div style="height:10%">        
      <h3><a href="{{url_for('post',post_id=post.id)}}">{{ post.title }}</a></h3>
        {{ post.text | truncate(100) | safe }}
        <p> <a href="{{url_for('post',post_id=post.id)}}">详情</a></p> 
        <div style="padding: 5px 0;color: #999;font: normal 12px/24px Arial;text-align: right;">	
    <span class="glyphicon glyphicon-tag">标签 </span>
    {%for tag in post.tag%}<a href="{{url_for('tag',tag=tag)}}"><strong>{{tag}}</strong></a>  {%endfor%}
	&nbsp;
    <span  style="margin: 0 5px 0 0;">&nbsp;日期：{{ moment(post.publish_date).format('LL') }}&nbsp;</span>
    <span  style="margin: 0 5px 0 0;" class="glyphicon glyphicon-comment"><a href='{{url_for('post',post_id=post.id)}}'>&nbsp;评论&nbsp;</a></span>
    <span  style="margin: 0 5px 0 0;" class="glyphicon glyphicon-eye-open"><a href='{{url_for('post',post_id=post.id)}}'>&nbsp;阅读&nbsp;</a></span></div>
	</div>
    {% endfor %}
<div class="pagination" >
{{ macros.pagination_widget(pagination,'.home') }}
</div>        {% endblock %}
{% block tuijian %}
	{%for tui in tuijian_post%}
	<p><a href='{{url_for('post',post_id=tui.id)}}'>{{tui.title}}</a></P>
	{%endfor%}
        {% endblock %}
{%block link%}
{%for link1 in links%}
<p><a href='{{link1.url}}'>{{link1.name}}</a></P>
{%endfor%}
{% endblock %}