{%extends 'per_base.html'%}
{%block title%}个人中心{% endblock %}
 {% block content %}


     {% for post in posts %}
     <div style="height:10%">
      <h3><a href="{{url_for('post',post_id=post.id)}}">{{ post.title }}</a></h3>
        {{ post.text | truncate(100) | safe }}
        <p> <a href="{{url_for('post',post_id=post.id)}}">详情</a></p>
        <div style="padding: 5px 0;color: #999;font: normal 12px/24px Arial;text-align: right;">
    <span class="glyphicon glyphicon-tag">标签 </span>
    {%for tag in post.tag%}<strong>{{tag}}</strong> {%endfor%}
	&nbsp;
    <span  style="margin: 0 5px 0 0;">&nbsp;日期：<a href=''>{{ moment(post.publish_date).format('LL') }}&nbsp;</a></span>
    <span  style="margin: 0 5px 0 0;" class="glyphicon glyphicon-comment"><a href='{{url_for('post',post_id=post.id)}}'>&nbsp;评论&nbsp;</a></span>
    <span  style="margin: 0 5px 0 0;" class="glyphicon glyphicon-eye-open"><a href='{{url_for('post',post_id=post.id)}}'>&nbsp;阅读&nbsp;</a></span></div>
	</div>
    {% endfor %}
			 {% endblock %}


{% block tuijian %}

    {%for tui in tuijian_posts%}
	<p><a href='{{url_for('post',post_id=tui.id)}}'>{{tui.title}}</a></P>
	{%endfor%}
{% endblock %}
{%block fenlei%}
{%for fenlei in fenleis%}
<p><a href='#'>{{fenlei}}</a></P>
{%endfor%}
{%endblock%}