<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <title>{% block title %}注册{% endblock %}</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="icon" href="../static/img/0.jpg" type="image/x-icon" />
	<script src="../static/js/jquery-2.1.4.min.js"></script>
	<script src="../static/css/bootstrap.min.css"></script>
	<style type="text/css">
		#divcss5{margin:0 500px ;border:0px solid #000;width:300px;height:100px;
		margin-top: 73px;} 
	</style>
</head>
<body background="../static/img/1.png"  style="background-size:cover">
<div></div>
<div class="col-md-9"  id="divcss5">
<h3 style="text-align: center">注册</h3>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <p class=flashes>
    {% for message in messages %}
      <p style="color:#F00">{{ message }}</p>
    {% endfor %}
    </p>
  {% endif %}
{% endwith %}
<form method="POST" >
    {{ form.hidden_tag() }}
     
    <div >
      {{ form.username.label }}
      {% if form.username.errors %}
        {% for e in form.username.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.username(class_="form-control") }}
    </div>
    <div class="form-group" >
      {{ form.password.label }}
      {% if form.password.errors %}
        {% for e in form.password.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.password(class_='form-control') }}
    </div>
    <div class="form-group" >
      {{ form.queren_pass.label }}
      {% if form.queren_pass.errors %}
        {% for e in form.queren_pass.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
      {{ form.queren_pass(class_='form-control') }}
    </div>

    <input class="btn btn-primary" type="submit" value="注册">
  </form>

</div>
</div>

</body>
</html>